.wel_commonWorkArea{position: absolute;top: -1px;width: 100%;height: 589px !important;background-size: 100% 100%;background:transparent;opacity:1;z-index:1;display:block;}
body {
    font-family: Roboto-regular;
} 
.weatherRepPop
{
	display: block;
    top: 230px;
    left: 270px;
    width: 430px;
    height: 200px;
}
.weatherRepPop .expPara
{width: 370px;height: auto;}

.workArea
{
background: #808080;
background-repeat: no-repeat;
width: 925px;
height: 587px;
background-size: 100% 100%;
}
.avoidClick
{
	/* background: red;   */
	opacity: 0.3;
    z-index: 2;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 924px;
    height: 588px;
	cursor: default !important;
   
}
.wrongSelection
{
cursor: default !important;	
}
.images,.actImages
{
	position: absolute;
	top: 11px;
	left: 212px;
	width: 487px;
	height: 93px;
	z-index:2;
}
.highlight {
	
	background: transparent;
	border-radius: 42px;
	border: 3px solid yellow;
	box-shadow: 0px 0px 27px #FFEB3B;
	display: none;
	z-index:-1;
	-webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
 @media screen and (-webkit-min-device-pixel-ratio:0) { 
  
    .glowEffect , .highlight{
     -webkit-animation-name: blinker1;
     animation-name: blinker1;
    }

   
    ::i-block-chrome,.myClass, .highlight{
      -webkit-animation-name: blinker;
      animation-name: blinker;
    }
}


 #highlight0
{

top: -2px;
left: -8px;
border-radius: 20px;
width: 140px;
height: 97px;
}


.commondummy
{
position:absolute;
opacity:0.5;
z-index:3;
}
#highlightgrow
{
width: 64px;
height: 17px;
top: -3px;
left: -6px;
}

.dummydiv
{
position:absolute;
top:0px;
left:0px;
width:924px;
height:588px;
z-index:15;
display:none;
}



/**kalai**/
.city
{
	border-radius: 12px;
    height: 19px;
    width: 19px;
    display: inline-block;
   	background: #ffcb05;
	border: 2px solid #ffcb05;
	top: 2px;
    left: 7px;
}
.city1
{
	border-radius: 12px;
    height: 19px;
    width: 19px;
    display: inline-block;
   	background: #ffcb05;
	border: 2px solid #ffcb05;
	top: 2px;
    left: 7px;
}
.airmass
{
    
    position: absolute;
	z-index: 3;
	width: 120px;
	height: 80px;
	transform: translate(0px,0px);
	-webkit-transform: translate(0px,0px);
	-moz-transform: translate(0px,0px);
	-o-transform: translate(0px,0px);
	/* opacity: 0.7;
	border: 1px solid red; */
	display:none;
}
.cities
{
top: 35px;
    width: 780px;
    position: absolute;
font-weight: bold;	
}
.airmass span
{
	/* opacity: 0.7; */
    position: absolute;
    top: 17px;
    left: 2px;
    text-align: center;
    text-indent: 0px;
    right: 0px;
	font-weight: bold;
	color: white;
	font-size: 20px;
	width:117px;
	z-index: 4;
}
.instrumentsPopup {
    display: block;
    height: 382px;
    width: 232px;
    position: absolute;
    top: 95px;
    left: 25px;
    background: white;
    box-shadow: 3px 3px 5px grey;
    z-index: 1;
}
.instrumentsPopup1 {
    display: block;
    height: 382px;
    width: 232px;
    position: absolute;
    top: 95px;
    left: 25px;
    background: white;
    box-shadow: 3px 3px 5px grey;
    z-index: 1;
	display:none;
}
#memphis
{
	position: absolute;
    top: 375px;
    left: 510px;
	z-index: 4;
}
#salt
{
	position: absolute;
	top: 304px;
	left: 177px;
	z-index: 4;
}
#salt .cityName
{
	/* float: left;
	position: relative;
top: -30px;
left: -20px; */
    float: left;
    position: relative;   
top: -40px;

left: 205px;
}
.closePopup
{
	border-radius: 50%;
    float: right;
    width: 30px;
    height: 30px;
    z-index: 3;
    margin: 10px;
    background-image: url(../images/template/close.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.select
{
    border: 1px solid red;
    width: 150px;
    height: 50px;
    z-index: 3;
    position: absolute;
    top: 400px;
    left: 30px;	
}
.w_bottomButton
{
	position: absolute;
    top: 540px;
    left: 10px;
    width: 146px;
    height: 28px;
    z-index: 4;
    background: #6d6e71;
    color: #c7c8ca;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 0px;
    border: 2px solid transparent;
}
.select
{background: yellow;text-align: center;}

.thermometer
{
	/* border: 1px solid red; */
	display: inline-block;
    position: absolute;
	top: 0px;
    left: 0px;
    height: 78px;
    width: 98px;
}
.hygrometer
{
	/* border: 1px solid green; */
    display: inline-block;
	height: 78px;
    width: 98px;
    position: absolute;
    top: 83px;
    left: 0px;
}
.barometer
{
	/* border: 1px solid green; */
	display: inline-block;
	position: absolute;
    top: 165px;
    left: 0px;
    height: 78px;
    width: 98px;
}

.anometer
{
	/* border: 1px solid green; */
	display: inline-block;
    position: absolute;
    top: 251px;
    left: 0px;
    height: 78px;
    width: 98px;
}
.wine_vane
{
	/* border: 1px solid green; */
    display: inline-block;
    position: absolute;
    top: 247px;
    left: 0px;
    height: 82px;
    width: 98px;
}
.thermometer_reading,.hygrometer_reading,.barometer_reading,.anometer_reading,.vane_reading
{
	
    height: 90%;
}
.labelText
{
    text-align: center;
    height: 10%;
    padding-top: 5px;
    position: absolute;
    top: 18px;
    left: 110px;
    height: 50px;
	width:95px;
}
.thermometer_reading
{
background-image: url("../images/activity/thermometer.png");
    background-repeat: no-repeat;
background-size: 27px 74px;
    z-index: 4;
    display: block;
    width: 27px;
    height: 77px;
    position: relative;
    left: 35px;
    top: 0px;
    text-align: center;
}
.hygrometer_reading
{
	background-image: url("../images/activity/hygrometer.png");
    background-size: 66px 66px;
    z-index: 4;
    display: block;
    width: 158px;
    height: 150px;
    position: relative;
    left: 15px;
    top: 5px;
    margin: auto;
    background-repeat: no-repeat;
}
.barometer_reading
{
	background-image: url("../images/activity/barometer.png");
	background-size: 67px 67px;
    z-index: 4;
    background-repeat: no-repeat;
    display: block;
    width: 158px;
    height: 156px;
    position: relative;
    left: 15px;
    top: 5px;
    margin: auto;
}
.anometer_reading
{
background-image: url("../images/activity/anometer.png");
background-size: 100% 100%;
z-index: 4;
display: block;
width: 297px;
height: 280px;
position: relative;
left: 5px;
top: 5px;
}
.vane_reading
{
background-image: url("../images/activity/wine_vane.png");
    background-size: 99px 88px;
    z-index: 4;
    background-repeat: no-repeat;
    display: block;
width: 99px;
height: 88px;
    position: relative;
    left: 5px;
    top: 0px;
    margin: auto;
}
.vane_mph
{
position: absolute;
top: 56px;
left: 58px;
font-size: 5px;
color: red;
font-weight: bold;
text-align: center;
}
.thermometer_pointer
{
 width: 3px;
height: 60px;
position: absolute;
top: 5px;
left: 12.5px;
z-index: 4;
background-image: url("../images/activity/tempLiquid.png");
background-size: 100% 100%;
background-repeat: no-repeat;
transform: rotate(180deg);
clip: rect(0px, 0px, 60px, 0px);
display: block;
}
.hygrometer_pointer
{
height: 38px;
width: 7px;
position: absolute;
top: 10px !important;
left: 30px !important;
transform-origin: 4px 24px;
    transform: rotate(0deg);
	display: block;
	background-image: url("../images/activity/hygrometer_ind.png");
    background-size: 100% 100%;
    z-index: 4;
    background-repeat: no-repeat;
}
.barometer_pointer
{
	/* border: 1px solid red; */
    height: 38px;
	width: 4px;
	position: absolute;
	top: 10px;
	left: 32px;
	background-image: url("../images/activity/barometer_ind.png");
    background-size: 100% 100%;
    transform-origin: 2px 25px;
    transform: rotate(0deg);
	display: block;
}
.barometer_ind_sec
{
	
height: 26px;
width: 4px;
position: absolute;
top: 10px;
left: 33px;
background-image: url("../images/activity/barometer_ind_sec.png");
background-size: 100% 100%;
transform-origin: 2px 24px;
transform: rotate(-28deg);
display: block;
}
.anometer_pointer
{
	    border: 1px solid red;
    height: 45px;
    width: 90px;
    position: absolute;
    top: 157px;
    left: 193px;
    border-radius: 5px;
    background: white;
	text-align: center;
    
}
.anometer_pointer span
{
	    display: inline-block;
    margin-top: 12px;
}

.vane_pointer
{
	
	/* height: 25px;
	width: 5px;
	top: 48px;
	left: 25px; */
    height: 37px;
    width: 5px;
    top: 42px;
    left: 24px;
	position: absolute;
    transform-origin: 50% 50%;   
	background-image: url("../images/activity/direction.png");
	background-size: 100% 100%;
	transform: rotate(0deg);
	display: block;
}

/**unwanted starts**/
.directions
{
	position: absolute;
	top: 100px;
	left:100px;
	    height: 10px;
    width: 10px;
    border: 1px solid red;
   
	
}
.nw
{
	top: 0px;
	left: 0px;
}
.ne
{
	top: 0px;
	left: 911px;
}
.sw
{
	top: 576px;
	left: 0px;
}
.se
{
	    top: 576px;
    left: 911px;
}
.n
{
	top: 0px;
	left: 462px;
}
.s
{
	top: 576px;
	left: 462px;
}
.e
{
	top: 275px;
	left: 911px;
}
.w
{
	top: 275px;
	left: 0px;
}

/**unwanted ends**/
.weatherRep
{
	position: absolute;
	/* border: 1px solid red; */
	height: 100px;
	width: 100px;
	display: none;
	z-index: 10;
}
.pressure
{
	position: absolute;
	border: 1px solid red;
	height: 20px;
	width: 20px;
	display: none !important;
	z-index: 10;
}

.h
{
text-align: center;
font-weight: bold;	
}
.l
{
text-align: center;
font-weight: bold;	
}

.cloud
{

    /* background-image: url("../images/activity/cloud.png"); */
    background-size: 100% 100%;
    background-repeat: no-repeat;	
}
.sun
{
	 background-image: url("../images/activity/sun.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;	
	width: 41px;
    height: 41px;
	
}
.sun_cloud
{
 background-image: url("../images/activity/sun_cloud.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;	
	
}
.clouds
{
 background-image: url("../images/activity/clouds.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;		
	
}
.front
{
	position: absolute;
	/* border: 1px solid red; */
	width: 180px;
    height: 60px;
	display: none;
	
}
.thunder
{
    background-image: url("../images/activity/thunder.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
		width:52px;
	height:50px;
}
.rains
{
 background-image: url("../images/activity/rains.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;	
	width:52px;
	height:40px;
}
.snow
{
 background-image: url("../images/activity/snow.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;	
	width:53px;
	height:37px;
}
.cold_front
{
	background-image: url("../images/activity/cold_front.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;	
	width: 120px;
    height: 22px;
}
.warm_front
{
	 background-image: url("../images/activity/warm_front.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;	
		width: 150px;
    height: 22px;
}
.occluded_front
{
	 /* background-image: url("../images/activity/occluded.png"); */
    background-size: 100% 100%;
    background-repeat: no-repeat;	
}
.stationary_front
{
	 background-image: url("../images/activity/stationary_front.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;	
	width: 151px;
    height: 28px;
}

.checkAns
{
	position: absolute;
    width: 149px;
    height: 30px;
    bottom: 11px;
    left: 10px;
    text-align: center;
    background: #ffcc00;
    color: black;
    padding-top: 8px;
    cursor: default;
    z-index: 5;
	display: none;
}
.cityName
{
	font-size: 18px;
    padding: 0px;
    padding:0px 6px 2px 6px;
	background: #ffffff;
	float: right;
	position: relative;
  /*   top: 40px;
    left: 0px; */
	top: 40px;
	left: 13px;
}

.w_dropDown
{
    position: absolute;
    top: 7px;
    left: 0px;
    width: 928px;
    height: 32px;
	z-index: 4;
	display:none;
    /* border: 1px solid red; */
}
.w_nav {
    margin: 0;
    padding: 0;
    list-style: none;
	margin-top: -3px;
}
.w_nav li {
    float: left;
    display: block;
    position: absolute;
    margin: 0px 0px;
    height: 24px;
    text-align: center;
    border-right: 2px solid #e6e7e8;
    width: 307px;
    top: -3px;
    border: 2px solid transparent;
    border-right: 2px solid #e6e7e8;
}
.w_nav span {
    position: relative;
    top: 3px;
    left: 0px;
}
.menu
{
	font-size: 18px;
    font-family: Roboto-regular;
    font-weight: bold;
	background: #a7a9ac;
	padding-bottom: 6px;
	cursor: default;
	z-index: 2;
}
.menu li
{
	font-size: 18px;
    font-family: Roboto-regular;
    font-weight: normal;
	background: white;
	margin-left: -28px;
	border-bottom: 2px solid #e6e7e8;
	border-left: 2px solid #e6e7e8;
	width: 306px;
}
.submenu li
{
	font-size: 18px;
    font-family: Roboto-regular;
    font-weight: normal;
    background: white;
    margin-left: -30px;
    border-bottom: 2px solid #e6e7e8;
    border-left: 2px solid #e6e7e8;
    width: 309px;
    position: relative;
    top: 0px;
    left: 0px;
    border: 2px solid #e6e7e8;
    border-top-color: transparent;
	height: 28px;
    top: -2px;
}
.menu ul
{
    margin-top: 10px;
    margin-left: -14px;	
	display: none;
}
li ul
{
background: #ffffff;
}
#city_0
{
 width: 306px;
 left: 0px;
}
#am_1
{
left: 310px;
}
#am_2
{  
 left: 621px;
}
#am1 li, #am2 li{
	    pointer-events: none;
}
li{
	cursor: default;
	
}
.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffffff;
    position: absolute;
    top: 14px;
    right: 20px;	
}
.dropdown_cont
{
	z-index: 3;
}
#airmass_0 span{
color: black;
}
#airmass_2 span{
color: black;
}
#airmass_3 span{
color: black;
}
.Weather_Forecast
{
	display: none;
	position: absolute;
    top: 196px;
    left: 670px;
    min-height: 165px;
    width: 240px;
    background: black;
    color: white;
    font-size: 18px;
	padding: 5px;
    z-index: 2;
}

.Weather_Forecast span
{
text-align: center;
display: block;	
/* border: 1px solid red;	 */
margin-top: 5px;
}

.head
{
color: #00ffff;
font-weight: bold;
}

.instruments
{
	/* border: 1px solid blue; */
    position: absolute;
    top: 40px;
    left: 10px;
    height: 331px;
    width: 100px;
}
.instrumentsReadings
{
	/* border: 1px solid blue; */
    position: absolute;
    top: 40px;
    left: 120px;
    height: 331px;
    width: 100px;
}
.labelTextVal
{
	text-align: center;
    height: 10%;
    padding-top: 5px;
    position: absolute;
    top: 38px;
    left: 105px;
    height: 50px;
    width: 105px;
}
.memphis_arrowDiv_0 {
   content: "";
    position: absolute;
    right: 100%;
    top: 30px;
    left: 228px;
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-left: 310px solid white;
    border-bottom: 0px solid transparent;
    opacity: 0.9;
    transform: rotate(3deg);
}
.memphis_arrowDiv_1 {
    content: "";
    position: absolute;
    right: 100%;
    top: 59px;
    left: 205px;
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-left: 99px solid white;
    border-bottom: 0px solid transparent;
    opacity: 0.9;
    transform: rotate(37deg);
}
.memphis_arrowDiv_2{
       content: "";
    position: absolute;
    right: 100%;
    top: 220px;
    left: 160px;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 625px solid white;
    border-bottom: 0px solid transparent;
    opacity: 0.9;
    transform: rotate(35deg);
}
.memphis_arrowDiv_3 {
    content: "";
    position: absolute;
    right: 100%;
    top: 180px;
    left: 120px;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 350px solid white;
    border-bottom: 0px solid transparent;
    opacity: 0.9;
    transform: rotate(60deg);
}
.salt_arrowDiv_0 {
        content: "";
    position: absolute;
    right: 100%;
    top: 10px;
    right: 225px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 530px solid white;
    border-bottom: 15px solid transparent;
    opacity: 0.9;
    transform: rotate(0deg);
}
.salt_arrowDiv_1 {
        content: "";
    position: absolute;
    right: 100%;
    top: 50px;
    right: 220px;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right: 300px solid white;
    border-bottom: 0px solid transparent;
    opacity: 0.9;
    transform: rotate(-14deg);
}
.salt_arrowDiv_2{
      content: "";
    position: absolute;
    right: 100%;
    top: 356px;
    right: 219px;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right: 230px solid white;
    border-bottom: 0px solid transparent;
    opacity: 0.9;
    transform: rotate(-10deg);
}
.salt_arrowDiv_3 {
       content: "";
    position: absolute;
    right: 100%;
    top: 200px;
    right: 173px;
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-right: 680px solid white;
    border-bottom: 0px solid transparent;
    opacity: 0.9;
    transform: rotate(-30deg);
}
.masstitle
{    position: absolute;
	top: 10px;
	left: 30px;
	width: 145px;
    text-align: center;
    line-height: 18px;
}
#spriteArea
{
margin: auto;
width: 169px;
height: 154px;
/* border: 1px solid red; */
display: none;
position: absolute;
top: 285px;
left: 448px;
overflow: hidden;	
}
#spriteArea_test
{
margin: auto;
width: 169px;
height: 154px;
/* border: 1px solid red; */
display: block;
position: absolute;
top: 0px;
left: 0px;
overflow: hidden;	
}


 /*  .full_sprite_0
{
	position: absolute;
	top: 132px;
	left: 299px;
	height: 420px;
    width: 510px;   
    z-index: 3;
    padding-right: 10px;
    background-image: url(../images/activity/memphis_0.png);
    background-position: 0px 0px;
    text-align: center;
	opacity: 0;
}
.full_sprite_1
{
	position: absolute;
top: 132px;
left: 299px;
height: 350px;
width: 330px;   
    z-index: 3;
    padding-right: 10px;
    background-image: url(../images/activity/memphis_1.png);
    background-position: 0px 0px;
    text-align: center;
	opacity: 0;
}
.full_sprite_2
{
	height: 370px;
    width: 380px;
    position: absolute;
	top: 131px;
	left: 274px;
    z-index: 3;
    padding-right: 10px;
    background-image: url(../images/activity/salt_0.png);
    background-position: 0px 0px;
    text-align: center;
	opacity: 0;
}
.full_sprite_3
{
	height: 400px;
    width: 430px; 
    position: absolute;
	top: 110px;
	left: 4px;
    z-index: 3;
    padding-right: 10px;
    background-image: url(../images/activity/salt_1.png);
    background-position: 0px 0px;
    text-align: center;
	opacity: 0;
} */
.cName
{
	font-weight:bold;
}


#resetMass
{
	position: absolute;
    top: 505px;
    left: 10px;
    width: 150px;
    height: 30px;
    z-index: 10;
    padding-top: 8px;
    padding-bottom: 0px; 	
	background:#ffcc00;
	color:black;
	text-align:center;
	cursor:default;

}
.hideIt
{
	z-index: 0 !important;
}

#notice
{
	    margin-top: 7px !important;
    margin-left: 4px;
}
.audioIconClass {
    
    height: auto;
    position: relative;
    float: left;
}
.airmass div
{
    opacity: 0.9;	
}
.dataShow
{ position: absolute;
    top: -2px;
    left: -2px;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: 10;
	}

